.headerOuterBar {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 1px;
}
.navBarStyle {
  height: 80px;
  background-color: #F9F6F5 !important;
}
.logoutIconStyle {
  color: red;
  font-size: 25px;
}
.logo {
	color: red;
	font-size: 25px;
}
.changePassIcon {
  font-size: 25px;
  color: #324767;
}
.contactIcon {
  font-size: 20px;
  color: #324767;
}
.formSelectDiv,
.formSelectDiv:hover,
.formSelectDiv:focus,
.formSelectDiv:active {
  background-color: #3bbdd5;
  border-color: #3bbdd5;
  padding-top: 10px;
  padding-bottom : 10px;
}
.navbarTitleStyle {
  padding-left: 15px;
  padding-right: 15px;
}
