.container {
  background-image: url('./../../assets/images/login_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  /* background-image: linear-gradient(NaNdeg, rgba(58, 75, 100, 0.67) 25%, rgba(255, 255, 255, 0) 100%); */
}
.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appLogo {
  margin-top: 40px;
  height: 50px;
  color: #8a7f7f;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.cardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 20px;
  background-color: rgba(44, 62, 89, 0.85);
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.cardTitle {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.errorDiv {
  width: 100%;
  background-color: #fbe2e1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 5px 0px 5px;
  border-radius: 5px;
}
.imgError {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
}
.txtError {
  color: #c94f4c;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0px;
}
.buttonsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* css for sucess message */
.alertDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.alertCard {
  display: flex;
  flex-direction: row;
  /* width: 550px; */
  border-radius: 12px;
  background-color: rgba(76, 175, 80, 0.65);
  justify-content: center;
  align-items: center;
  padding: 13px;
}
.alertTitle {
  color: #c2ffc5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.loginLink {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}
/* End */
.cancelBtn,
.cancelBtn:hover,
.cancelBtn:focus {
  /* background-color: red !important; */
  margin-left: 20px;
}
.submitBtn,
.submitBtn:focus,
.submitBtn:hover {
  background-color: #4caf50 !important;
}