.container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  width: 100%;
  overflow: auto;
  background-color: #e0e0e0;
  overflow-y: auto;
}

.addFilterBar {
  background-color: #fff;
  margin: 20px 20px 0px 20px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11);
  height: 74px;
  border-radius: 12px;
  align-items: center;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #324767;
}
.changePasswordBlock {
  background-color: #fff;
  margin: 20px 5px 0px 5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11);
  border-radius: 12px;
  justify-content: center;
  display: flex;
}
.txtPasswordLabel {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #324767;
  padding-right: 30px;
}
.addFilterRow {
  height: 60;
  display: flex;
  justify-content: 'center';
  align-items: 'center';
}
/* css for error messages */
.errorDiv {
  width: 39%;
  background-color: #fbe2e1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto 0px auto;
  border-radius: 5px;
}
.imgError {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
}
.txtError {
  color: #c94f4c;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0px;
}
/* End */
/* css for sucess message */
.alertDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.alertCard {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background-color: rgba(76, 175, 80, 0.65);
  justify-content: center;
  align-items: center;
  padding: 13px 25px;
}
.alertTitle {
  color: #c2ffc5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.loginLink {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}
/* End */